.Rectangle {
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.Parent {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		// max-width: 1920px;
		height: 118px;
		// transform: rotate(-1deg);
		background: rgb(255, 63, 98);
		padding: 0;

		img {
			display: flex;
			justify-content: center;
			align-items: center;
			::-webkit-scrollbar {
				display: none;
			}
		}

		.keen_slider {
			display: flex;
			align-items: center;
			width: fit-content;
			width: 100%;
			overflow: hidden;
		}
	}
}
