.Welcome {
	padding-block: 100px;
	.content {
		@media (max-width: 400px) {
			.button_img {
				display: none;
			}

			.parent_photo {
				@media (max-width: 400px) {
					width: 100%;
				}
			}

			.parent_photo {
				width: 380px;
				height: 400px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 auto;
			}
		}
		.parent {
			display: flex;
			justify-content: space-between;
			align-items: center;
			p {
				color: rgb(168, 168, 168);
				font-size: 18px;
				font-weight: 400;
				line-height: 22px;
				letter-spacing: 0%;
				text-align: left;
			}
			.h1_text {
				padding-block: 20px;
				h2 {
					color: rgb(0, 0, 0);
					font-size: 64px;
					font-weight: 600;
					line-height: 100%;
					letter-spacing: 0%;
					text-align: left;
				}
			}
			.button_img {
				position: relative;
				width: 100%;
				max-width: 490px;
				margin-top: 50px;

				button {
					position: absolute;
					right: -4px;
					top: -1px;

					padding: 10px 15px;

					border: none;
					outline: none;

					cursor: pointer;

					border-radius: 30px;
					background: rgb(0, 0, 0);
					color: rgb(255, 255, 255);
					font-size: 20px;
					font-weight: 600;
					line-height: 24px;
					letter-spacing: 0%;
				}
				img {
					position: relative;
					left: 0;
					top: 5px;
					z-index: -1;
					width: 100%;
					max-width: 990px;
				}
			}
		}
		.parent_photo {
			padding-block: 103px;
			img {
				width: 100%;
			}
		}
	}
}
